.section-container {
  margin-bottom: 20px; /* Adjust the value as needed for the desired gap */
}
.hi {
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */

    font-family: sans; 
    color: yellow;
}
